---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import WijzigingenOverzicht from "../components/WijzigingenOverzicht.astro";
---

<StarlightPage frontmatter={{ title: "Laatste aanpassingen" }}>
  <p>
    Aanpassingen die in de tuin zijn doorgevoerd. Opgehaald uit de <a
      href="https://github.com/geensnor/DeDigitaleTuin">repository</a>
  </p>
  <WijzigingenOverzicht />
</StarlightPage>
