---
import { getCollection } from "astro:content";
const recepten = await getCollection("recepten");
---

<table>
  <tr>
    <th>Recept</th>
    <th>Gang</th>
    <th>Vegetarisch</th>
  </tr>

  {
    recepten.map((recept) => (
      <tr>
        <td>
          <a href={Astro.url + recept.slug}>{recept.data.name}</a>{" "}
        </td>{" "}
        <td>{recept.data.recipeCategory}</td>
        <td>
          {(recept.data?.suitableForDiet?.includes("VeganDiet") ||
            recept.data?.suitableForDiet?.includes("VegetarianDiet")) && (
              <span>🌱</span>
            )}
        </td>
      </tr>
    ))
  }
</table>
