---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const recepten = await getCollection('recepten');
  return recepten.map(recept => ({
    params: { slug: recept.slug }, props: { recept },
  }));
}

const { recept } = Astro.props;
const { Content, headings } = await recept.render();
---
<h1>{recept.data.title}</h1>


<StarlightPage frontmatter={{ title: recept.data.title }}>
  
<Content />

</StarlightPage>