---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import ReceptMetadata from '../../../components/ReceptMetadata.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const recepten = await getCollection('recepten');
  return recepten.map(recept => ({
    params: { slug: recept.slug }, props: { recept },
  }));
}

const { recept } = Astro.props;
const { Content } = await recept.render();
---

<StarlightPage frontmatter={{ title: recept.data.name }}>

<ReceptMetadata {recept} />

<Content />
<a class="terug-link" href="./">terug naar alle recepten</a>
</StarlightPage>